@keyframes drawPath {
  0% {
    stroke-dashoffset: 100%;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

.path1 {
  stroke-dasharray: 100%;
  stroke-dashoffset: 100%;
  animation: drawPath 2s ease forwards;
  animation-delay: 0.5s;
}

@keyframes topRect {
  0% {
    opacity: 0;
    width: 8px;
    transform: translateX(16px);
  }
  100% {
    opacity: 100%;
  }
}

@keyframes bottomRect {
  0% {
    opacity: 0;
    width: 8px;
    transform: translateX(-16px);
  }
  100% {
    opacity: 100%;
  }
}

.rect1 {
  animation: topRect 1s ease forwards;
  animation-delay: 0.5s;
  opacity: 0;
}

.rect2 {
  animation: bottomRect 1s ease forwards;
  animation-delay: 0.5s;
  opacity: 0;
}
